<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>image</key>
			<string>newLS_industry_internet</string>
			<key>industry</key>
			<string>IT互联网</string>
			<key>jobs</key>
			<array>
				<string>产品研发</string>
				<string>运营编辑</string>
				<string>市场商务</string>
				<string>测试维护</string>
				<string>设计师</string>
				<string>计算机软硬件</string>
				<string>客服</string>
				<string>网络游戏</string>
				<string>人力资源</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_internet_selected</string>
		</dict>
		<dict>
			<key>image</key>
			<string>newLS_industry_ecn</string>
			<key>industry</key>
			<string>电子通信</string>
			<key>jobs</key>
			<array>
				<string>技术普工</string>
				<string>硬件研发</string>
				<string>工程维护</string>
				<string>生产制造</string>
				<string>市场商务</string>
				<string>工业设计</string>
				<string>采购物控</string>
				<string>人力资源</string>
				<string>客服</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_ecn_selected</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>newLS_industry_finance</string>
			<key>industry</key>
			<string>金融</string>
			<key>jobs</key>
			<array>
				<string>银行</string>
				<string>证券</string>
				<string>保险</string>
				<string>担保信贷</string>
				<string>市场商务</string>
				<string>人力资源</string>
				<string>客服</string>
				<string>投融资</string>
				<string>拍卖典当</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_finance_selected</string>
		</dict>
		<dict>
			<key>image</key>
			<string>newLS_industry_building</string>
			<key>industry</key>
			<string>房产建筑</string>
			<key>jobs</key>
			<array>
				<string>装修施工</string>
				<string>房产销售</string>
				<string>设计规划</string>
				<string>项目管理</string>
				<string>市场商务</string>
				<string>质检造价</string>
				<string>物业开发</string>
				<string>人力资源</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_building_selected</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>newLS_industry_cultureAndMedia</string>
			<key>industry</key>
			<string>文化传媒</string>
			<key>jobs</key>
			<array>
				<string>设计动画</string>
				<string>品牌公关</string>
				<string>活动策划</string>
				<string>编导制作</string>
				<string>编辑记者</string>
				<string>艺术收藏</string>
				<string>出版发行</string>
				<string>市场商务</string>
				<string>人力资源</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_cultureAndMedia_selected</string>
		</dict>
		<dict>
			<key>image</key>
			<string>newLS_industry_service</string>
			<key>industry</key>
			<string>服务业</string>
			<key>jobs</key>
			<array>
				<string>厨师餐饮</string>
				<string>市场销售</string>
				<string>经营管理</string>
				<string>物流运输</string>
				<string>网店个体</string>
				<string>美容美发</string>
				<string>酒店旅游</string>
				<string>机电汽修</string>
				<string>安保</string>
				<string>运动健身</string>
				<string>家政保洁</string>
				<string>摄影婚庆</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_service_selected</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>newLS_industry_education</string>
			<key>industry</key>
			<string>教育培训</string>
			<key>jobs</key>
			<array>
				<string>幼教</string>
				<string>小学教师</string>
				<string>初中教师</string>
				<string>高中教师</string>
				<string>大学教师</string>
				<string>艺术体育</string>
				<string>专业技能</string>
				<string>职业培训</string>
				<string>科研学者</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_education_selected</string>
		</dict>
		<dict>
			<key>image</key>
			<string>newLS_industry_welfare</string>
			<key>industry</key>
			<string>政府公益</string>
			<key>jobs</key>
			<array>
				<string>政府机关</string>
				<string>公安司法</string>
				<string>律师法务</string>
				<string>军队武警</string>
				<string>公益社团</string>
				<string>后勤人事</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_welfare_selected</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>newLS_industry_medicine</string>
			<key>industry</key>
			<string>医疗生物</string>
			<key>jobs</key>
			<array>
				<string>医疗人员</string>
				<string>保健护理</string>
				<string>器械销售</string>
				<string>医药医学</string>
				<string>宠物护理</string>
				<string>市场商务</string>
				<string>人力资源</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_medicine_selected</string>
		</dict>
		<dict>
			<key>image</key>
			<string>newLS_industry_agriculture</string>
			<key>industry</key>
			<string>农林牧渔</string>
			<key>jobs</key>
			<array>
				<string>种植养殖</string>
				<string>兽医</string>
				<string>项目管理</string>
				<string>采购物流</string>
				<string>技术员</string>
				<string>加工质检</string>
				<string>机械设备</string>
				<string>市场商务</string>
				<string>行政人事</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_agriculture_selected</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>newLS_industry_trade</string>
			<key>industry</key>
			<string>轻工贸易</string>
			<key>jobs</key>
			<array>
				<string>纺织服装</string>
				<string>进出口贸易</string>
				<string>采购物流</string>
				<string>食品饮料</string>
				<string>建材家居</string>
				<string>商贸百货</string>
				<string>包装印刷</string>
				<string>工艺礼品</string>
				<string>珠宝首饰</string>
				<string>质检认证</string>
				<string>机电仪表</string>
				<string>产品研发</string>
				<string>市场商务</string>
				<string>人力资源</string>
				<string>客服</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_trade_selected</string>
		</dict>
		<dict>
			<key>image</key>
			<string>newLS_industry_machinery</string>
			<key>industry</key>
			<string>机械重工</string>
			<key>jobs</key>
			<array>
				<string>技术操作</string>
				<string>生产制造</string>
				<string>机电仪表</string>
				<string>产品研发</string>
				<string>采购物流</string>
				<string>市场商务</string>
				<string>人力资源</string>
				<string>客服</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_machinery_selected</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>newLS_industry_chemistry</string>
			<key>industry</key>
			<string>化学能源</string>
			<key>jobs</key>
			<array>
				<string>矿产开发</string>
				<string>石油化工</string>
				<string>电气水利</string>
				<string>环保</string>
				<string>市场商务</string>
				<string>人力资源</string>
				<string>销售客服</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_chemistry_selected</string>
		</dict>
		<dict>
			<key>image</key>
			<string>newLS_industry_student</string>
			<key>industry</key>
			<string>学生</string>
			<key>jobs</key>
			<array>
				<string>服务业</string>
				<string>文化传媒</string>
				<string>IT互联网</string>
				<string>金融业</string>
				<string>教育科研</string>
				<string>医疗生物</string>
				<string>房产建筑</string>
				<string>政府法律</string>
				<string>通讯电子</string>
				<string>机械重工</string>
				<string>农林牧渔</string>
				<string>化工能源</string>
				<string>轻工贸易</string>
				<string>其他</string>
			</array>
			<key>selectedImage</key>
			<string>newLS_industry_student_selected</string>
		</dict>
	</array>
</array>
</plist>
